@using SportsStore.Infrastructure
@model Cart
<style>
	/* Override default Bootstrap blue with light blue */
	.btn.btn-primary {
		background-color: #add8e6 !important; /* Light blue */
		border-color: #add8e6 !important;
		color: #000 !important;
		font-weight: bold;
	}
</style>


<div class="">
	@if (Model.Lines.Count() > 0)
	{
		<small class="navbar-text">
			<b>Your Cart:</b>
			@Model.Lines.Sum(x => x.Quantity) item(s)
			@Model.ComputeTotalValue().ToString("c")
		</small>
	}
	<a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Cart"
		asp-route-returnurl=
		"@ViewContext.HttpContext.Request.PathAndQuery()">
		<i class="fa fa-shopping-cart"></i>
	</a>
</div>